@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto");
* {
  box-sizing: border-box;
}

/* p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
} */

/* blockquote {
  position: relative;
  padding-left: 1.5rem;
  font-family: "Courgette", serif;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}
blockquote:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #A9DFBF;
  border-radius: 60px;
} */

figure {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.hero {
  position: relative;
  overflow: hidden;
  height: 120vh;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}
.hero:nth-child(1) figure {
  background-image: url("./assets//child.jpg");
  background-size: cover;
}
.hero:nth-child(2) figure {
  background-image: url("./assets/computer.jpg");
  background-size: cover;
}
.hero:nth-child(3) figure {
  background-image: url("./assets/coding.jpg");
  background-size: cover;
}
.hero:nth-child(4) figure {
  background-image: url("./assets/contact.jpg");
  background-size: cover;
}

.hero__title, .hero__title_contact, .about_me, .about_me2, .about_me3 {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 1rem;;
  right: 4rem;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, .7);
  font-family: "Courgette", serif;
  font-size: 8vw;
  letter-spacing: -0.125rem;
  text-align: center;
}



.about_me, .about_me2, .about_me3 {
  top: 7rem;
  right: 32rem;
  font-size: 2rem;
  color: black;
}

.about_me2 {
  top: 11rem;
  right: 17rem;
}

.about_me2 span {
  margin-left: .8rem;
}

.about_me3 {
  top: 15rem;
  right: 1rem;
}

.hero__title_left {
  display: flex;
  position: fixed;
  top: 2rem;;
  left: 3rem;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Courgette", serif;
  font-size: 8vw;
  letter-spacing: -0.125rem;
  text-align: center;
}

.hero__title_contact {
  color: rgba(0, 0, 0, .7);
}

#portfolio {
  color: rgba(255, 255, 255, 0.7);
}

/* #skills {
  color: rgba(0, 0, 0, .7);
} */

/* Skills */

.skill-icons {
  display: flex;
  position: fixed;
  width: 5rem;
  height: 5rem;
  background: white;
  border-radius: 50%;
  
}

#html {
  height: 5rem;
  top: 11rem;;
  left: 18rem;
}

#css {
  top: 11rem;;
  left: 25rem;
}

#sass {
  top: 11rem;;
  left: 32rem;
}

#bootstrap {
  top: 11rem;;
  left: 39rem;
}

#javascript {
  top: 11rem;;
  left: 46rem;
}

#react {
  top: 11rem;;
  left: 53rem;
}

#redux {
  top: 11rem;;
  left: 60rem;
}

#node {
  top: 20rem;;
  left: 44rem;
}

#express {
  top: 20rem;;
  left: 51rem;
}

#bcrypt {
  top: 20rem;;
  left: 58rem;
}

#postgresql {
  top: 20rem;;
  left: 65rem;
}



/* Contact */

.email {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 20rem;
  right: 40rem;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  font-family: "Courgette", serif;
  font-size: 2vw;
}

.email a {
  color: Black;
}

.phone {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 25rem;
  right: 43rem;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  color: Black;
  font-family: "Courgette", serif;
  font-size: 2vw;
  letter-spacing: 0.05rem;
}

.github {
  position: fixed;
  width: 5rem;
  height: 5rem;
  top: 13rem;
  right: 20rem;
}

.linkedIn {
  position: fixed;
  width: 6rem;
  height: 5rem;
  top: 22rem;
  right: 19rem;
}

.card {
  position: fixed;
  width: 14rem;
  height: 20rem;
  top: 7rem;
  right: 55rem;
  background:white;
}

.modal2 {
  position: fixed;
  background-size: cover;
  width: 13rem;
  height: 23rem;
  top: 9rem;
  right: 55rem;
  background-image: url('./assets/jnjLogin.png')
}

.card Img {
  width: 60%;
  height: 55%;
  position: absolute;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github, #github2 {
  width: 5rem;
  height: 5rem;
  margin-left:1rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;

}

 .siteLinks {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.siteLinks:hover {
  color: black;
  text-decoration: none;
}

#github {
  margin: .5rem 0 0 .5rem;
}

#github2 {
  margin: .5rem 0 0 7rem;
  height: 6.5rem;
  width: 6.5rem;
}


@media (min-width: 1200px) {
  .hero__title, .hero__title_contact {
    font-size: 6rem;
  }
}

.content {
  position: relative;
  margin: 0 auto 8rem;
  padding: 2rem;
}
.content:before {
  content: '';
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 99;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.content__inner {
  margin: 0 auto;
  max-width: 700px;
}
.content__inner > * + * {
  margin-top: 1.5rem;
}
.content__inner > blockquote {
  margin: 3rem 0;
}

.content__title {
  font-family: "Courgette", serif;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.125rem;
  text-align: center;
}
@media (min-width: 600px) {
  .content__title {
    font-size: 4rem;
  }
}

.content__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
  font-family: "Courgette", serif;
  font-size: 1.5rem;
  letter-spacing: -0.125rem;
  text-align: center;
}
.content__author:before, .content__author:after {
  content: '';
  flex: 1;
  height: 2px;
  background-color: #A9DFBF;
}
.content__author:before {
  margin-right: 1rem;
}
.content__author:after {
  margin-left: 1rem;
}
