@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto");
* {
  box-sizing: border-box;
}

/* p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
} */

/* blockquote {
  position: relative;
  padding-left: 1.5rem;
  font-family: "Courgette", serif;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}
blockquote:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #A9DFBF;
  border-radius: 60px;
} */

figure {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.hero {
  position: relative;
  overflow: hidden;
  height: 120vh;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}
.hero:nth-child(1) figure {
  background-image: url("./assets//child.jpg");
  background-size: cover;
}
.hero:nth-child(2) figure {
  background-image: url("./assets/computer.jpg");
  background-size: cover;
}
.hero:nth-child(3) figure {
  background-image: url("./assets/coding.jpg");
  background-size: cover;
}
.hero:nth-child(4) figure {
  background-image: url("./assets/contact.jpg");
  background-size: cover;
}

.hero__title, .hero__title_contact, .about_me, .about_me2, .about_me3, .about_me4 {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 1rem;;
  right: 4rem;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, .7);
  font-family: "Courgette", serif;
  font-size: 8vw;
  letter-spacing: -0.125rem;
  text-align: center;
}



.about_me, .about_me2, .about_me3, .about_me4 {
  color: black;
}

.about_me {
  top: 5rem;
  right: 20rem;
  font-size: 4rem;
}

.about_me2 {
  font-size: 3rem;
  top: 13rem;
  right: 12rem;
}


.about_me3 {
  font-size: 2rem;
  top: 20rem;
  right: 19rem;
}

.about_me4 {
  font-size: 2rem;
  top: 23.5rem;
  right: 9rem;
}

.hero__title_left {
  display: flex;
  position: fixed;
  top: 2rem;;
  left: 3rem;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Courgette", serif;
  font-size: 8vw;
  letter-spacing: -0.125rem;
  text-align: center;
}

.hero__title_contact {
  color: rgba(0, 0, 0, .7);
}

#portfolio {
  color: rgba(255, 255, 255, 0.7);
}


/* Skills */

.skill-icons {
  display: flex;
  position: fixed;
  width: 5rem;
  height: 5rem;
  background: white;
  border-radius: 50%;
  
}

#html {
  height: 5rem;
  top: 11rem;;
  left: 18rem;
}

#css {
  top: 11rem;;
  left: 25rem;
}

#sass {
  top: 11rem;;
  left: 32rem;
}

#bootstrap {
  top: 11rem;;
  left: 39rem;
}

#javascript {
  top: 11rem;;
  left: 46rem;
}

#react {
  top: 11rem;;
  left: 53rem;
}

#redux {
  top: 11rem;;
  left: 60rem;
}

#node {
  top: 20rem;;
  left: 44rem;
}

#express {
  top: 20rem;;
  left: 51rem;
}

#bcrypt {
  top: 20rem;;
  left: 58rem;
}

#postgresql {
  top: 20rem;;
  left: 65rem;
}

/* portfolio */
.description {
  font-size: 1.1rem;
  text-align: center;
}

.techUsed {
  font-size: 1.5rem;
  font-weight: bold;
}

.tech {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Contact */

.email {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 20rem;
  right: 40rem;
  padding: 0 1rem;
  width: 10vw;
  height: 5vh;
  font-family: "Courgette", serif;
  font-size: 2vw;
  transform: rotate(-1.3deg)
}

.email a {
  color: Black;
}

.phone {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 25rem;
  right: 43rem;
  padding: 0 1rem;
  color: Black;
  font-family: "Courgette", serif;
  font-size: 2vw;
  letter-spacing: 0.05rem;
  transform: rotate(-1.25deg)
}

.github {
  position: fixed;
  width: 5rem;
  height: 5rem;
  top: 13rem;
  right: 20rem;
}

.linkedIn {
  position: fixed;
  width: 6rem;
  height: 5rem;
  top: 22rem;
  right: 19rem;
}

.card {
  position: fixed;
  width: 14rem;
  height: 20rem;
  top: 7rem;
  right: 55rem;
  background:white;
}

.modal2 {
  position: fixed;
  background-size: cover;
  width: 13rem;
  height: 23rem;
  top: 9rem;
  right: 55rem;
  background-image: url('./assets/jnjLogin.png')
}

.card Img {
  width: 60%;
  height: 55%;
  position: absolute;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github, #github2 {
  width: 5rem;
  height: 5rem;
  margin-left:1rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;

}

 .siteLinks {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.siteLinks:hover {
  color: black;
  text-decoration: none;
}

#github {
  margin: .5rem 0 0 .5rem;
}

#github2 {
  margin: .5rem 0 0 6rem;
  height: 6.5rem;
  width: 6.5rem;
}

#camera {
  margin: .5rem 1.5rem 0 8rem;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

.modalPics {
  display: flex;
  flex-wrap: wrap;


}

.modalPics img {
  width: 13rem;
  height: 23rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}


@media only screen and (max-width: 1280px) {
  .hero__title, .hero__title_contact {
    font-size: 6rem;
  }
  
  .about_me {
    top: 5rem;
    right: 15rem;
    font-size: 4rem;
  }
  
  /* contact */
  .email {
    top: 19rem;
    right: 40.5rem;
    font-size: 2vw;
  }
  
  .phone {
    top: 24rem;
    right: 43rem;
    font-size: 2vw;
  }

}

@media (max-width: 1200px) {

  .about_me {
    top: 5rem;
    right: 10rem;
    font-size: 4rem;
  }

  .about_me2 {
    font-size: 3rem;
    top: 13rem;
    right: 6rem;
  }

  /* projects */

  .modal2 {
    right: 50rem;
  }

    /* contact */
    .email {
      top: 18rem;
      right: 35rem;
      font-size: 2vw;
    }
    
    .phone {
      top: 23rem;
      right: 37rem;
      font-size: 2vw;
    }
  
}

@media (max-width: 1120px) {


  .hero:nth-child(4) figure {
    background-image: url("./assets//phone.jpg");
    background-size: cover;
  }
  

  /* about me */
  .about_me {
    top: 5rem;
    right: 10rem;
    font-size: 3.5rem;
  }

  .about_me2 {
    font-size: 2.5rem;
    top: 13rem;
    right: 6rem;
  }
  
  
  .about_me3 {
    font-size: 2rem;
    top: 20rem;
    right: 14rem;
  }
  
  .about_me4 {
    font-size: 2rem;
    top: 23.5rem;
    right: 4rem;
  }

  /* skills */

  #html {
    height: 5rem;
    top: 11rem;;
    left: 4rem;
  }
  
  #css {
    top: 11rem;;
    left: 11rem;
  }
  
  #sass {
    top: 11rem;;
    left: 18rem;
  }
  
  #bootstrap {
    top: 11rem;;
    left: 25rem;
  }
  
  #javascript {
    top: 11rem;;
    left: 32rem;
  }
  
  #react {
    top: 11rem;;
    left: 39rem;
  }
  
  #redux {
    top: 20rem;;
    left: 4rem;
  }
  
  #node {
    top: 20rem;;
    left: 11rem;
  }
  
  #express {
    top: 20rem;;
    left: 18rem;
  }
  
  #bcrypt {
    top: 20rem;;
    left: 25rem;
  }
  
  #postgresql {
    top: 20rem;;
    left: 32rem;
  }


  /* projects */
  .modal2 {
    right: 42rem;
  }
  
      /* contact */
      .email {
        top: 15rem;
        right: 33rem;
        font-size: 2vw;
      }
      
      .phone {
        top: 20rem;
        right: 35rem;
        font-size: 2vw;
      }

}

@media (max-width: 1070px) {
  .about_me {
    top: 5rem;
    right: 10rem;
    font-size: 3.1rem;
  }

  .about_me2 {
    font-size: 2rem;
    top: 13rem;
    right: 6rem;
  }
  
  
  .about_me3 {
    font-size: 1.7rem;
    top: 20rem;
    right: 14rem;
  }
  
  .about_me4 {
    font-size: 1.7rem;
    top: 23.5rem;
    right: 4rem;
  }

    /* projects */
    .modal2 {
      right: 35rem;
    }

    /* contact */
    .email {
      top: 14.5rem;
      right: 25rem;
    }
    
    .phone {
      top: 18rem;
      right: 27rem;
    }

    .github {
      width: 5rem;
      height: 5rem;
      top: 7rem;
      right: 15rem;
      background: white;
      border-radius: 50%;
    }
    
    .linkedIn {
      position: fixed;
      width: 5rem;
      height: 4rem;
      top: 17rem;
      right: 14.5rem;
    }
}

@media (max-width: 1050px) {
     /* contact */
    .github {
      width: 5rem;
      height: 5rem;
    }
    
    .linkedIn {
      width: 5rem;
      height: 4rem;
    }

    .email {
      
      font-size: 2.5vw;
    }
    
    .phone {
     
      font-size: 2.5vw;
    }
}

@media (max-width:950px) {
   /* projects */
   .modal2 {
    right: 30rem;
  }

  /* contact */
  .github {
    width: 4rem;
    height: 4rem;
    top: 16rem;
    right: 10.7rem;
  }
  
  .linkedIn {
    width: 5rem;
    height: 4rem;
    top: 9rem;
    right: 10rem;
  }

   .email {
    top: 10rem;
    right: 19rem;
    font-size: 2.5vw;
  }
  
  .phone {
    top: 17rem;
    right: 21rem;
    font-size: 2.5vw;
  }


}

@media (max-width: 800px) {
  /* about me */
  .about_me {
    top: 5rem;
    right: 28rem;
    font-size: 2.7rem;
  }

  .about_me2 {
    font-size: 2rem;
    top: 13rem;
    right: 27rem;
  }
  
  
  .about_me3 {
    font-size: 2rem;
    top: 11rem;
    right: 5rem;
  }
  
  .about_me4 {
    font-size: 2rem;
    top: 14rem;
    right: -.5rem;
  }

  
  /*  projects */

  .hero__title {
    font-size: 4rem;
  }
  
  .modal2 {
    position: fixed;
    background-size: cover;
    top: 9rem;
    right: 25rem;
  }


    /* contact */
    .github {
      width: 4rem;
      height: 4rem;
      top: 16rem;
      right: 10.7rem;
    }
    
    .linkedIn {
      width: 5rem;
      height: 4rem;
      top: 9rem;
      right: 10rem;
    }
  
     .email {
      top: 10rem;
      right: 19rem;
      font-size: 2.5vw;
    }
    
    .phone {
      top: 17rem;
      right: 21rem;
      font-size: 2.5vw;
    }


}

@media (max-width: 650px) {
  /* about me */
  .about_me {
    top: 17rem;
    right: 12.5rem;
    font-size: 2rem;
    color: white;
  }

  .about_me2 {
    font-size: 2rem;
    top: 20rem;
    right: 10rem;
    color:white;
  }
  
  
  .about_me3 {
    font-size: 2rem;
    top: 24rem;
    right: 10rem;
    color:white;
  }
  
  .about_me4 {
    font-size: 2rem;
    top: 26rem;
    right: 6.5rem;
    color:white;
  }

      /* projects */
      .modal2 {
        right: 13rem;
      }
}


@media (max-width: 450px) {
    /* about me */
    .about_me {
      top: 5rem;
      right: 6rem;
      font-size: 3.1rem;
    }
  
    .about_me2 {
      font-size: 2.3rem;
      top: 11.5rem;
      right: 6rem;
    }
    
    
    .about_me3 {
      font-size: 2rem;
      top: 17rem;
      right: 7rem;
    }
    
    .about_me4 {
      font-size: 2rem;
      top: 19.5rem;
      right: 4rem;
    }
  /* projects */
  .modal2 {
    top: 10rem;
    right: 3rem;
  }

  #github2 {
    margin: .5rem 0 0 3.5rem;
    height: 6.5rem;
    width: 6.5rem;
  }

  .modalPics {
    justify-content: center;
  
  }
  

  /* skills */
   /* skills */

   #html {
    height: 5rem;
    top: 8rem;;
    left: 4rem;
  }
  
  #css {
    top: 8rem;;
    left: 11rem;
  }
  
  #sass {
    top: 8rem;;
    left: 18rem;
  }
  
  #bootstrap {
    top: 15rem;;
    left: 4rem;
  }
  
  #javascript {
    top: 15rem;;
    left: 11rem;
  }
  
  #react {
    top: 15rem;;
    left: 18rem;
  }
  
  #redux {
    top: 22rem;;
    left: 4rem;
  }
  
  #node {
    top: 22rem;;
    left: 11rem;
  }
  
  #express {
    top: 22rem;;
    left: 18rem;
  }
  
  #bcrypt {
    top: 29rem;;
    left: 4rem;
  }
  
  #postgresql {
    top: 29rem;;
    left: 11rem;
  }

  /* contact */
  .hero:nth-child(4) figure {
    background-image: url("./assets/contact.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 750px 850px;
  }
  
  
  .github {
    position: fixed;
    width: 5rem;
    height: 5rem;
    top: 23rem;
    right: 18rem;
    background: white;
    border-radius: 50%;
  }
  
  .linkedIn {
    position: fixed;
    width: 6rem;
    height: 5rem;
    top: 14rem;
    right: 17rem;
  }

  .email {
    top: 24rem;
    right: .7rem;
    font-size: 4.5vw;
    transform: rotate(-1.3deg)
  }
  
  
  .phone {
    top: 28rem;
    right: 1.5rem;
    font-size: 4.5vw;
  }
}


@media (max-width: 400px) {

   /* about me */
   .about_me {
    top: 5rem;
    right: 6rem;
    font-size: 2.7rem;
  }

  .about_me2 {
    font-size: 2rem;
    top: 11.5rem;
    right: 6rem;
  }
  
  
  .about_me3 {
    font-size: 1.7rem;
    top: 17rem;
    right: 7rem;
  }
  
  .about_me4 {
    font-size: 1.7rem;
    top: 19.5rem;
    right: 4rem;
  }

  /* contact */
  .github {
    width: 5rem;
    height: 5rem;
    top: 29rem;
    right: 15rem;
    background: white;
    border-radius: 50%;
  }
  
  .linkedIn {
    width: 6rem;
    height: 5rem;
    top: 19rem;
    right: 14rem;
  }
  
  .email {
    top: 24rem;
    right: -.7rem;
    font-size: 4.5vw;
    transform: rotate(-1.3deg)
  }
  
  
  .phone {
    top: 28rem;
    right: 1.5rem;
    font-size: 4.5vw;
  }
}


/* .content {
  position: relative;
  margin: 0 auto 8rem;
  padding: 2rem;
}

.content:before {
  content: '';
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 99;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.content__inner {
  margin: 0 auto;
  max-width: 700px;
}
.content__inner > * + * {
  margin-top: 1.5rem;
}
.content__inner > blockquote {
  margin: 3rem 0;
}

.content__title {
  font-family: "Courgette", serif;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.125rem;
  text-align: center;
} */
/* @media (min-width: 600px) {
  .content__title {
    font-size: 4rem;
  }
}

.content__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
  font-family: "Courgette", serif;
  font-size: 1.5rem;
  letter-spacing: -0.125rem;
  text-align: center;
}
.content__author:before, .content__author:after {
  content: '';
  flex: 1;
  height: 2px;
  background-color: #A9DFBF;
}
.content__author:before {
  margin-right: 1rem;
}
.content__author:after {
  margin-left: 1rem;
} */
